<!-- Linkler html.actionlink ile değişmeli -->
<header>
    <h1>Hasta Portalı</h1>
    <nav>
        @Html.ActionLink("My Page", "Index", "Management")
        @Html.ActionLink("Create App", "Create", "Appointments")
        @Html.ActionLink("Appointments", "Index", "Appointments")
        <a href="#recete-goruntule">Reçete Görüntüle</a>
        <a href="#odeme">Ödeme</a>
        <a href="#iade">İade</a>
        <a href="#odeme-gecmisi">Ödeme Geçmişi</a>
        <a href="#sifre-yonetimi">Şifre Yönetimi</a>
        @Html.ActionLink("Log off", "LogOff", "Account")
    </nav>
</header>
