<!-- Linkler html.actionlink ile değişmeli -->
<header>
    <h1>Hasta Portalı</h1>
    <nav>
        <a href="#ozel-sayfa">Özel Sayfa</a>
        <a href="#randevu-al">Randevu Al</a>
        <a href="#randevular">Randevular</a>
        <a href="#recete-goruntule">Reçete Görüntüle</a>
        <a href="#odeme">Ödeme</a>
        <a href="#iade">İade</a>
        <a href="#odeme-gecmisi">Ödeme Geçmişi</a>
        <a href="#sifre-yonetimi">Şifre Yönetimi</a>
    </nav>
</header>
