@{
    ViewBag.Title = "Home Page";
    ViewBag.isHome = true;
}
<header id="header">
    <img id="logo-header" src="~/Content/Images/apple-touch-icon.png" alt="Hospital Logo">
    <h1 id="head">The Great Hospital</h1>
    <nav class="ana-menu">

        <a href="/Home">Home Page</a>
        @if (ViewBag.UserLogged)
        {
            @Html.ActionLink("Go to Management", "Index", "Management")
            @Html.ActionLink("Log off", "LogOff", "Account")
        }
        else
        {
            @Html.ActionLink("Log In", "Index", "Management")
            @Html.ActionLink("Register", "Register", "Management")
        }

    </nav>
</header>


<div class="slider">
    <img class="slider-img-top" src="~/Content/Images/images.jpeg" alt="">
</div>

<h1 id="about-head">About Hospital</h1>

<section class="about">
    <div>
        <h2>Services</h2>
        <ul>
            <li>
                The Great Hospital Hospital is a private hospital located in the city of Istanbul. Our hospital was established in 2010,
                It provides services in the branches of General Surgery, Psychiatry and Ear Nose Throat.
            </li>
            <li>
                It aims to provide the best health service to its patients with its modern medical devices and experienced staff.
            </li>
            <li>Within our hospital, services such as home healthcare, child and elderly care are offered.</li>
            <li>
                Our hospital always prioritizes the satisfaction of its patients. Therefore, in our hospital, patients' comfort and
                All precautions have been taken for safety.
            </li>
        </ul>
    </div>
    <div>
        <h2> Hospital Mission</h2>
            <ul>
                <li>
                    The Great Hospital Hospital works to provide the best health service to its patients and to protect their health.
                </li>
                <li>
                    To increase interaction with patients and their relatives, to communicate treatment processes clearly and to ensure active participation of patients in decision-making processes.
                </li>
                <li>
                    Providing a sustainable health service by minimizing environmental impacts, adopting environmentally friendly policies in waste management and increasing environmental awareness in society
                </li>
            </ul>

    </div>
    <div>
        <h2>
            Hospital Vision</h2>
            <ul>
                <li>
                    The Great Hospital Hospital works to become the leading health institution in the region and to provide services to its patients at international standards.
                </li>
                <li>
                    To constantly adopt new technologies, be open to innovations in the health sector and provide the most up-to-date health services at international standards.
                </li>
                <li>
                    To become a leading health institution by establishing collaborations with leading institutions in the field of health, strengthening health networks at national and international levels and offering a wide range of expertise to our patients.
                </li>
            </ul>
</div>
</section>


<div id="gallery" class="gallery-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2 id="galery-head">Photos</h2>
                    <p>The Great Hospital University Values Its Patients.</p>
                </div>
            </div>
        </div>

        <div class="popup-gallery row clearfix">
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-01.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Our Service We Offer</h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-01.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-02.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Our Various Branches</h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-02.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-03.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Healthier Life</h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-03.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-04.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Our Experienced Nurses</h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-04.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-05.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Our Technological X-Ray Devices </h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-05.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-06.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Our Child and Elderly Care Service</h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-06.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-07.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Our Expert Staff</h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-07.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box-gallery">
                    <img src="~/Content/Images/gallery-08.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Research Labs</h3>
                        <ul class="icon">
                            <li><a href="~/Content/Images/gallery-08.jpg"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>