<header id="header">
    <h1>Accountant</h1>

    <nav class="ana-menu">
        <a href="/Management">My Page</a>
        <a href="/Doctors">Doctors</a> 
        <a href="/Bills">Bills</a>
        <a href="/Admins/Edit">Edit Account</a>
        @Html.ActionLink("Log off", "LogOff", "Account")

    </nav>
</header>