<header>
    <h1>Admin Paneli</h1>
    <nav>
        <a href="/Doctors">Doctors</a>
        <a href="/Patients">Patients</a> 
        <a href="/Departments">Departments</a>
        <a href="/Admins/Edit">Admins</a>
        <a href="/Account/Logoff">Logout</a>
    </nav>
</header>
