<header>
    <h1>Admin Paneli</h1>
    <nav>
        <a href="/Doctors">Doktor Yönetimi</a>
        <a href="/Patients">Hasta Yönetimi</a>
        <a href="/Admins/Edit">Şifre Yönetimi</a>
        <a href="/Departments/Edit">Departments</a>
        <a href="/Account/Logout">Logout</a>
    </nav>
</header>
