<header id="header">
    <h1>Admin Paneli</h1>
 
    <nav class="ana-menu">
        <a href="/Management">My Page</a>
        <a href="/Doctors">Doctors</a>
        <a href="/Patients">Patients</a>
        <a href="/Accountants">Accountant</a>
        <a href="/Departments">Departments</a>
        <a href="/Admins/">My Info</a>
        @Html.ActionLink("Log off", "LogOff", "Account")
 
    </nav>
</header>