
@{
    ViewBag.Title = "Accountant";
}

<header>
    <h1>Muhasebe Paneli</h1>
    <nav id="muhasebe">
        <a href="#odemeler-yonetimi">Ödemeler Yönetimi</a>
        <a href="#doktor-maas-yonetimi">Calisan Maaş Yönetimi</a>
        <a href="#sifre-yonetimi">Şifre Yönetimi</a>

    </nav>
</header>