
@{
    ViewBag.Title = "Admin";
}

<header>
    <h1>Admin Paneli</h1>
    <nav>
        <a href="#doktor-yonetimi">Doktor Yönetimi</a>
        <a href="#hasta-yonetimi">Hasta Yönetimi</a>
        <a href="#sifre-yonetimi">Şifre Yönetimi</a>
    </nav>
</header>