
@{
    ViewBag.Title = "Doctor";
}

<header>
    <h1>Doktor Portalı</h1>
    <nav>
        <a href="#ozel-sayfa">Özel Sayfa</a>
        <a href="#randevular">Randevular</a>
        <a href="#recete-yonetimi">Reçete Yönetimi</a>
        <a href="#hasta-yonetimi">Hasta Yönetimi</a>
        <a href="#sifre-yonetimi">Şifre Yönetimi</a>
    </nav>
</header>


<section id="ozel-sayfa">
    <h2 style="margin-left: 13%;">Doktor Özel Sayfa</h2>
    <div class="container">
        <div class="kisisel-bilgiler">
            <h3>Kişisel Bilgiler</h3>
            <ul>
                <li><span>Adı Soyadı:</span> Dr. Ahmet Kaska</li>
                <li><span>Uzmanlık Alanı:</span> İç Hastalıklar</li>
                <li><span>T.C. Kimlik No:</span> 12345678901</li>
                <li><span>Doğum Tarihi:</span> 13.01.2000</li>
                <li><span>Telefon Numarası:</span> 0543 222 33 44</li>
                <li><span>E-posta Adresi:</span> ahmet.kaska@example.com</li>
            </ul>
        </div>

        <div class="hesap-bilgileri">
            <h3>Hesap Bilgileri</h3>
            <ul>
                <li><span>Kullanıcı Adı:</span> ahmetkaska</li>
                <li><span>Şifre:</span> *********** (Gizli)</li>
                <li><span>Hesap Tarihi:</span> 01.01.2023</li>
            </ul>
        </div>
    </div>
</section>