
@{
    ViewBag.Title = "Patient";
}
<header id="header">
    <img id="logo-header" src="~/favicon.ico" alt="Hastane Logosu">
    <h1 id="head">Hastane Yönetim Sistemi</h1>
    <nav class="ana-menu">


        <a href="#">Ana Sayfa</a>
        <a href="pages/admin.html" target="_blank">Log In</a>


    </nav>
</header>

<section id="ozel-sayfa">
    <h2 style="margin-left: 13%;">Hasta Özel Sayfası</h2>
    <div class="container">
        <div class="kisisel-bilgiler">
            <h3>Kişisel Bilgiler</h3>
            <ul>
                <li><span>Adı Soyadı:</span> Ahmet Kaska</li>
                <li><span>T.C. Kimlik No:</span> 12345678901</li>
                <li><span>Doğum Tarihi:</span> 13.01.2000</li>
                <li><span>Telefon Numarası:</span> 0543 222 33 44</li>
                <li><span>E-posta Adresi:</span> ahmet.kaska@example.com</li>
            </ul>
        </div>
        <div class="hesap-bilgileri">
            <h3>Hesap Bilgileri</h3>
            <ul>
                <li><span>Kullanıcı Adı:</span> ahmetkaska</li>
                <li><span>Şifre:</span> *********** (Gizli)</li>
                <li><span>Hesap Tarihi:</span> 01.01.2023</li>
            </ul>
        </div>
    </div>
</section>


